doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/layout.css')
    block css
    block scripts
  body
    header
      div#headerHome
        a(href='/')
            img(src="/images/home.png" alt="Начальная страница" title="Перейти на начальную страницу")

      block header

      div#headerSession
        if (session && session.username)
          div Вы вошли как:&nbsp
            = session.username
          div
            a(href='/logout') Выйти
    section
      block content

//- vim:shiftwidth=4:expandtab:number:list
