extends layout
block css
  link(rel='stylesheet', href='/styles/viewQueries.css')
block scripts
  script(src="/scripts/formatNumber.js")

block header
  div#headerStats Список выявленных уязвимостей

block content
  div.info
    div Для открытия подробной статистики, щёлкните по записям в ячейках.

  if (records && records.length)
    table#records
      colgroup
        col.numsCol
        col
        col.numsCol
      tbody
        tr
          th Идентификатор
          th Сигнатура
          th Количество записей
        each record in records
          tr
            td
              a(href="/viewAlert/" + record._id.sig_id)= record._id.sig_id
            td= record._id.sig_txt
            td= record.count
  else
    p Отчёт пуст.
