header {
	font: normal 16px/18px tahoma, sans;
	padding: 0.5em;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3em;
    color: #FFF;
	background: #4C9ED9;
	border-bottom: 2px solid silver;
}

header a { font-weight: bolder; 
	color: white;
	text-decoration: underline;
	text-decoration-style: dashed;
	-moz-text-decoration-style: dotted;
}

header a:hover { color: black; }

#headerHome {
    position: absolute;
}

#headerStats {
    position: absolute;
    left: 5em;
	max-width: 55em;
	font-size: 0.85em;
}

#headerSession {
    position: absolute;
    right: 2em;
    top: 1em;
}

#headerSession div {
	text-align: right;
}

h1 {font-size: 1.1em;}

h2 { font-size: 1.0em;}

.link a {
	text-decoration: none;
	color: black;
}

.link:nth-child(odd){
	background: #E0E0E0;
}

.link:nth-child(even){
	background: #D5D5D5;
}

.info {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.5em;
}

section { padding: 4em 0 1em; }

footer {
    position: fixed;
    right: 1em;
    bottom: 1em;
    font-size: 0.85em;
    text-align: right;
    z-index: -1;
}
