table#records {
  border-collapse: collapse;
}

td,th {
  border: 1px solid black;
  padding: 0.1em 0.5em;
  vertical-align: top;
}

col.ts {width: 12em;}

.link {
  float: left;
  padding: 0.1em 0.5em;
  margin: 0.15em 0.2em;
  border-radius: 4px;
}
